extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alertError(3000)
    +alertSuccess(3000)
    h1(class="mb-4") Chỉnh sửa sản phẩm
    form(
        action=`${prefixAdmin}/products/edit/${product._id}?_method=PATCH`
        id="form-edit-product"
        method="POST"
        enctype="multipart/form-data"
    )
        div.form-group
            label(for="title") Tiêu đề
            input.form-control(
            type="text"
            id="title"
            name="title"
            required
            value=product.title
            )

        div.form-group
            label(for="desc") Mô tả
            textarea.form-control(
            id="desc"
            name="description"
            rows="5"
            ) #{value=product.description}

        div.form-group
            label(for="price") Giá
            input.form-control(
            type="number"
            id="price"
            name="price"
            min="0"
            value=product.price
            )

        div.form-group
            label(for="discount") % Giảm giá
            input.form-control(
            type="number"
            id="discount"
            name="discountPercentage"
            min="0"
            value=product.discountPercentage
            )

        div.form-group
            label(for="stock") Số lượng
            input.form-control(
            type="number"
            id="stock"
            name="stock"
            min="0"
            value=product.stock
            )

        div(class="form-group" upload-image)
            label(for="thumbnail") Ảnh
            input(
            class="form-control-file"
            type="file"
            id="thumbnail"
            name="thumbnail"
            accept="image/*"
            upload-image-input
            )
            img(src=product.thumbnail upload-image-preview class="image-preview")

        div.form-group
            label(for="position") Vị trí
            input.form-control(
            type="number"
            id="position"
            name="position"
            placeholder="Tự động tăng"
            min="1"
            value=product.position
            )

        div.form-group.form-check.form-check-inline
            input.form-check-input(
                type="radio"
                id="statusActive"
                name="status"
                value="active"
                checked = (product.status == "active")
            )
            label.form-check-label(for="statusActive") Hoạt động

        div.form-group.form-check.form-check-inline
            input.form-check-input(
                type="radio"
                id="statusInactive"
                name="status"
                value="inactive"
                checked  = (product.status == "inactive")
            )
            label.form-check-label(for="statusInactive") Không hoạt động

        div.form-group
            button.btn.btn-primary(type="submit") Cập nhật

    script(src="/admin/js/product.js")